.blog-page-master {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    margin-top: 20px;
}

    .landing-article {
        display: flex;
        flex-direction: column;
        width: 72%;
        align-items: flex-start;
        margin-top: 20px;
    }
    .post-blog {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column;
        width: 72%;
    }
    .post-blog-property-date {
        font-size: 12px;
        padding: 4px 0;
        padding-top: 8px;
    }
    .post-blog-property-name {
        font-size: 12px;
        padding: 4px 0;
        padding-top: 8px;
    }
   .post-blog-propert-underLine {
    width: 100%;
    background-color: aliceblue;
   }

   .post-blog-propert-underLine {
    margin-top: 1rem;
   }    
/* ======================================== */

.post-blog-property-map-opt {
    display: flex;
    flex-wrap: wrap;
    gap: 6px;
    padding-top: 4px;
}
.post-blog-property-map-opt * {
    display: flex;
    align-items: center;
    padding: 0 6px;
    border-radius: 3px;
    height: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 120%;
    font-size: 12px;
    margin-bottom: 10px;
    }
.post-blog-property-map-opt :nth-child(1) {
    background-color: rgba(0, 120, 223, 0.2);
    }
.post-blog-property-map-opt :nth-child(2) {
    background-color: rgba(233, 168, 0, 0.2);
    }
.post-blog-property-map-opt :nth-child(3) {
    background-color: rgba(0, 120, 223, 0.2)
    }
.post-blog-property-map-opt :nth-child(4) {
    background-color: rgba(245, 93, 0, 0.2)
    }
.post-blog-property-map-opt :nth-child(5) {
    background-color: rgba(0, 135, 107, 0.2)
    }
.post-blog-property-map-opt :nth-child(6) {
    background-color: rgba(103, 36, 222, 0.2)
    }

    /* ======================================== */









.blog-main-whole {
    line-height: 1.6rem !important;
}



   .blog-main-gray_background {
        background-color : rgba(69,75,78,.3);
        padding: 16px 16px 16px 12px;
        display: inline-flex;
        width: 100%;
        border-radius: 3px;
        border-width: 1px;
        align-items: center;
        box-sizing: border-box;
        margin: 4px 0;
        border: 1px solid hsla(44,6%,50%,.15);
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        line-height: 1.8;
    }
















    .costum-blog-h1 {
        outline: 0;
        margin-block-end: 0;
        font-size: 1.875em;
        font-weight: 600;
        line-height: 1.4;
        white-space: pre-wrap;
        word-break: break-word;
    }
    .costum-blog-span {
        white-space: pre-wrap;
        word-break: break-word;
        padding: 6px 0;
        --notion-max-width: 720px;
        --notion-header-height: 54px;
        /*color: hsla(0,0%,100%,.9);*/
        padding: 0;
        margin: 0;
        border-radius: 0;
        background: none!important;
        font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
    }

    .costum-blog-span-italy {
        white-space: pre-wrap;
        word-break: break-word;
        line-height: 1.65;
        --notion-max-width: 720px;
        --notion-header-height: 54px;
        /*color: hsla(0,0%,100%,.9);*/
        padding: 0;
        margin: 0;
        border-radius: 0;
        background: none!important;
        font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif;
        font-style: italic !important;
    }

    .costum-blog-quote {
        padding: 0.2em 0.75em;
        line-height: 1.5;
        font-style: italic;
        font-size: 1.2em;
        border-left: 4px solid #67bdfc;
    }

    .costum-blog-h1 {}


    /*==============================conlusion*/
 .Popup-module--button--72f64 {
display: flex;
     align-items: center;
 }
 .Popup-module--button {
     background: #ec5990;
     color: #fff;
     align-items: center;
     border: none;
     border-radius: 50%;
     display: inline-flex;
     font-size: 15px;
     height: 20px;
     justify-content: center;
     line-height: 1;
     margin-left: 10px;
     width: 20px;
     overflow: hidden;
     font-weight: bold;
 }

.Popup-module--button-first {
     transform: translateX(-110%) !important;
     transition: all 0.3s linear 0s;
     /*position: absolute;*/
 }
.Popup-module--button-second {
    transform: translateX(0px) !important;
    transition: all 0.3s linear 0s;
}

