
.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: rgb(206, 17, 17);
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: rgb(0, 140, 255);
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: rgb(10, 184, 111);
  }
  
  .swiper-slide:nth-child(4n) {
    background-color: rgb(211, 122, 7);
  }
  
  .swiper-slide:nth-child(5n) {
    background-color: rgb(118, 163, 12);
  }
  
  .swiper-slide:nth-child(6n) {
    background-color: rgb(180, 10, 47);
  }
  
  .swiper-slide:nth-child(7n) {
    background-color: rgb(35, 99, 19);
  }
  
  .swiper-slide:nth-child(8n) {
    background-color: rgb(0, 68, 255);
  }
  
  .swiper-slide:nth-child(9n) {
    background-color: rgb(218, 12, 218);
  }
  
  .swiper-slide:nth-child(10n) {
    background-color: rgb(54, 94, 77);
  }
  




  /* ===============================================================3d */
  .carousel-demo-wrapper {
    position: relative;
    background: #3949C0;
    overflow: hidden;
    height: 500px;
  }
  
  .carousel-demo {
    width: 100%;
    height: 100%;
  }
  
  .carousel-wrapper {
    position: absolute;
    width: 250px;
    height: 300px;
    margin: auto;
    left: 0;
    right: 0;
    top: 120px;
    padding-top: 350px;
    margin-top: -350px;
  }
  
  .carousel {
    position: relative;
    width: 100%;
    margin: auto;
    height: 100%;
  }
  
  .carouselContent {
    transform-style: preserve-3d;
    width: 100%;
  }
  
  .itemWrapper {
    position: absolute;
    top: 0;
    left: 0;
    transform-style: preserve-3d;
    width: 100%;
  }
  
  .itemWrapper .rotateLayer .bgAndBlurLayer {
    border-radius: 8px;
    overflow: hidden;
    background: #fff;
    transition: filter .45s;
    margin: auto;
  }
  
  .itemWrapper .rotateLayer .bgAndBlurLayer .contentLayer {
    transition: opacity .65s;
  }
  
  .img-wrapper {
    height: 300px;
    background-size: cover;
    background-position: center;
  }