

.landing-top {
    background-color: greenyellow;
    height: 53.999px;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    top: 0;
    background: transparent;
    box-shadow: inset 0 -1px 0 0 rgba(0,0,0,.1);
    -webkit-backdrop-filter: saturate(180%) blur(8px);
    backdrop-filter: saturate(180%) blur(8px);
    font-size: 14px;
}

.landing-top img {
    width: 30px;
    height: 30px;

}

.landing-top label {
    padding: 10px;
}
#breadcrumb {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    white-space: nowrap;
    text-overflow: ellipsis;
    /* color: var(--fg-color); */
    text-decoration: none;
    margin: 1px 0;
    padding: 4px 6px;
    border-radius: 3px;
    /* transition: background .12s ease-in 0s; */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    /* background: transparent; */
    cursor: pointer;
}

.landing-top label:hover 
{
    background: var(--bg-color-0);  
    /* padding: 10px; */
    border-radius: 4px;
}

.landing-top :nth-child(2):not(label):hover
{
    background: var(--bg-color-0);  
    /* padding: 10px; */
    border-radius: 4px;
}
.landing-top label:hover
{
    background: unset;
}






