@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
  --bg-color: #2f3437;

  --select-color-1: rgba(45,170,219,.3);



  --fn-arial-1 : Arialn.ttf;
  --fn-arial-2 : ArialTh.ttf;
  --fn-arial-3 : ARIBL0.ttf;
  --fn-arial-4 : G_ari_bd.TTF;
  --fn-arial-5 : G_ari_i.TTF;
  --fn-arial-6 : GEO_AI__.TTF;



  --fg-color: #37352f;
    --fg-color-0: rgba(55,53,47,.09);
    --fg-color-1: rgba(55,53,47,.16);
    --fg-color-2: rgba(55,53,47,.4);
    --fg-color-3: rgba(55,53,47,.6);
    --fg-color-4: #000;
    --fg-color-5: rgba(55,53,47,.024);
    --fg-color-6: rgba(55,53,47,.8);
    --fg-color-icon: var(--fg-color);
    --bg-color: #fff;
    --bg-color-0: hsla(44,6%,50%,.15);
    --bg-color-1: #f7f6f3;
    --bg-color-2: hsla(44,6%,50%,.15);
    --select-color-0: #2eaadc;
    --select-color-1: rgba(45,170,219,.3);
    --select-color-2: #d9eff8;
    --notion-red: #e03e3e;
    --notion-pink: #ad1a72;
    --notion-blue: #0b6e99;
    --notion-purple: #6940a5;
    --notion-teal: #4d6461;
    --notion-yellow: #dfab01;
    --notion-orange: #d9730d;
    --notion-brown: #64473a;
    --notion-gray: #9b9a97;
    --notion-red_background: #fbe4e4;
    --notion-pink_background: #f4dfeb;
    --notion-blue_background: #ddebf1;
    --notion-purple_background: #eae4f2;
    --notion-teal_background: #ddedea;
    --notion-yellow_background: #fbf3db;
    --notion-orange_background: #faebdd;
    --notion-brown_background: #e9e5e3;
    --notion-gray_background: #ebeced;
    --notion-red_background_co: hsla(0,74%,94%,.3);
    --notion-pink_background_co: rgba(244,223,235,.3);
    --notion-blue_background_co: rgba(221,235,241,.3);
    --notion-purple_background_co: rgba(234,228,242,.3);
    --notion-teal_background_co: rgba(221,237,234,.3);
    --notion-yellow_background_co: hsla(45,80%,92%,.3);
    --notion-orange_background_co: hsla(29,74%,92%,.3);
    --notion-brown_background_co: hsla(20,12%,90%,.3);
    --notion-gray_background_co: hsla(210,5%,93%,.3);
    --notion-item-blue: rgba(0,120,223,.2);
    --notion-item-orange: rgba(245,93,0,.2);
    --notion-item-green: rgba(0,135,107,.2);
    --notion-item-pink: rgba(221,0,129,.2);
    --notion-item-brown: rgba(140,46,0,.2);
    --notion-item-red: rgba(255,0,26,.2);
    --notion-item-yellow: rgba(233,168,0,.2);
    --notion-item-default: hsla(45,4%,80%,.5);
    --notion-item-purple: rgba(103,36,222,.2);
    --notion-item-gray: hsla(45,2%,60%,.4);
    --notion-max-width: 720px;
    --notion-header-height: 45px;


    --fg-color: #fff;
    --bg-color-0: hsla(44,6%,50%,.15);
    --bg-color-1: #f7f6f3;
    --bg-color-2: hsla(44,6%,50%,.15);
    --fg-color-5: hsla(0,0%,100%,.7);
    --fg-color-5: #fff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}
@font-face {
  font-family: arial;
  src: url("/fonts/Arialn.ttf");
  font-weight: 900;
}

/* width */
body::-webkit-scrollbar {
  width: 6px;
}

/* Track */
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 4px #2f3437;
  border-radius: 10px;
}

/* Handle */
body::-webkit-scrollbar-thumb {
  /* background: rgb(247, 246, 243); */
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}
body {
  /*color: rgb(var(--foreground-rgb));*/
  background: var(--bg-color) !important; 
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif !important;  
}
span {
  font-size: 13px !important;
}
body ::selection {
  /*background: var(--select-color-1) !important;*/
  /*background-color: #00BFFF; !* blue *!*/
  /* background-color:  rgba(253, 72, 225, 0.8); */
  background-color:  #79ffe1;

  /*background-image: linear-gradient(120deg, rgba(208, 114, 207, 0.8), rgba(253, 72, 225, 0.8));*/
  /*color: #000;*/
  /*text-shadow: 0 1px 1px rgba(0, 0, 0, 0.2);*/
  /*box-shadow: inset 0 -0.6em 1em rgba(255, 255, 255, 0.3), 0 0.6em 1em rgba(255, 255, 255, 0.3);*/
}
[data-theme="dark"] body ::selection {
  /* background-color:  rgba(253, 72, 225, 0.8); */
  background-color:  rgba(253, 72, 225, 0.8);
}



*{
  font-family: ui-sans-serif,system-ui,-apple-system,BlinkMacSystemFont,"Segoe UI","Roboto","Oxygen","Ubuntu","Cantarell","Fira Sans","Droid Sans","Helvetica Neue","Noto Sans",sans-serif !important;  
  overflow-x: hidden;
}
/* Light mode styles */
.bg-primary {
  background-color: #f8f8f8 !important;
}

.text-primary {
  color: #37352f;
}

/* Dark mode styles */
[data-theme="dark"] .bg-primary {
  background-color: #2f3437 !important;
}

[data-theme="dark"] .text-primary {
  color: hsla(0,0%,100%,.9);
}